.portfolio-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  background-color: #0c0c0c;
  color: white;
  border-radius: 10px;
  animation: fadeIn 0.6s ease forwards;
  border: 1px solid #3d3d3d94;
}

.portfolio-container-top {
  display: grid;
  grid-template-columns: 80% 20%;
  gap: 2rem;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0 2rem;
  text-align: center;
}

.NA{
    padding: 4rem;
    color: rgb(153, 153, 153)
}

.portfolio-container-top h2 {
  padding: 2rem;
}


.bottone {
  background-color: #0e0e0e;
  color: white;
  border: 1px solid #3d3d3d94;
  padding: 0.5rem 0.9rem;
  border-radius: 90px;
  cursor: pointer;
  transition: background-color 0.2s ease, transform 0.2s ease;
  outline: none
}

.bottone:hover {
  background-color: #3a3a3a;
  transform: scale(1.03);
}


.plus-button {
  font-size: 2rem;
  padding: 0.2rem 0.2rem;
  border-radius: 90px;
  margin-top: 1rem;
  background: #0e0e0e;
  border: 1px solid #3d3d3d94;
  transition: background-color 0.2s ease, transform 0.2s ease;
  text-align: center;
  color: white;
}


.plus-button:hover {
  background-color: rgb(0, 163, 0);
}

@keyframes slideUpFade {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.watchlist-ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;

  opacity: 0;
  animation: slideUpFade 0.8s ease forwards;
  margin-top: 0.5rem;
  border-radius: 10px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.watchlist-ul li:hover {
  background-color: #252525;
}

.watchlist-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.portfolio-name {
  font-weight: bold;
  color: white;
  font-size: 1.1rem;
}

.add-box {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  animation: fadeSlideIn 0.4s ease forwards;
  opacity: 0;
  transform: translateY(-10px);
}

@keyframes fadeSlideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


.add-box input {
  padding: 0.5rem;
  border: 1px solid #1E1E1E;
  background-color: #252525;
  text-align: center;
  border-radius: 6px;
  color: white;
}

@keyframes rotate-reset {
  from {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.rotate-left {
  animation: rotate-left 0.3s ease-in-out forwards;
}

.rotate-reset {
  animation: rotate-reset 0.3s ease-in-out forwards;
}
